{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:155 }}
    {% else %}
        Welcome to s online shopping.. ....
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{category.name }} - S online shopping
    {% else %}
        see our New Collections - S online shopping
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
    <div>
        <div class="row my_row_class">
            <div class="mx_auto">
            <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a> </p>
        </div>
        </div>
    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" style="height:800px;" src="{{category.image.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
<img class="my_image my_image_padding" style="width:100%; height:500px;" src="{%  static 'img/banner.1.png' %}" alt="our products">
</div>
<br>
<div>
  <h1 class="text-center my_title"> Our products details </h1>
  <p class="text-justify">You can have anything you want in life if you dress for it. — ...
Clothes mean nothing until someone lives in them. — ...
Style is a way to say who you are without having to speak. — ...
Fashion is like eating, you shouldn't stick to the same menu. — ...
I don't do fashion. ...
Elegance is good taste, plus a dash of daring. —
</p>
</div>
    {% endif %}
<br>
<br>
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4  col-lg-4">
            <div class="card text-center" style="min-width:18rem;margin-bottom:20px;margin-left:15px;border-radius:0px 0px 15px 15px;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image"  src="{{product.image.url}}" alt="{{product.name}}"></a>
            <div class="card-body" style="text-center" >
                <h4>{{product.name}}</h4>
                <p>{{product.description}}</p>
                <p>${{product.price}}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
