
<footer class="mt-auto container">
    <div class="footer navbar-fixed-bottom my_footer">
        <p class="text-center">&copy; S ONLINE SHOPPING pvt ltd.All rights Reserved </p>
    </div>
</footer>

<!--<div class="container-fluid">-->
<!--<footer class="mt-auto">-->
<!--    <div class="footer navbar-fixed-bottom my_footer">-->
<!--       <p class="text-center">&copy; SMART SHOPPIE pvt ltd.All rights Reserved </p>-->
<!--    </div>-->
<!--</footer>-->
<!--</div>-->


<!--<div>-->
<!--    <footer>-->
<!--        <div>-->
<!--             -->
<!--        </div>-->
<!--    </footer>-->
<!--</div>-->

